spring.application.name=demo

# MongoDB Configuration
spring.data.mongodb.uri=${MONGO_URI}
spring.data.mongodb.database=voddb

icurff.app.jwtSecret=mysecret
icurff.app.jwtExpirationMs=86400000
icurff.app.tokenExprirationSec=300


# RabbitMQ Configuration
spring.rabbitmq.host=${RABBITMQ_HOST:rabbitmq}
spring.rabbitmq.port=${RABBITMQ_PORT:5672}
spring.rabbitmq.username=admin
spring.rabbitmq.password=admin

